{% extends "base.html" %}
{% set active_page = 'contributors' -%}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>
                Top Contributors
            </h2>
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Commits</th>
                    <th>Organization</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td><a href="http://github.com/{{ user.login }}" target="_BLANK">{{ user.login }}</a></td>
                        <td>
                            {{ user.commit_count }}
                        </td>
                        <td>
                            {% for org in user.organizations %}
                                <a href="http://github.com/{{ org.username }}" target="_BLANK">{{ org.username }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}