{% extends "base.html" %}
{% set active_page = 'index' -%}

{% block content %}
    <div class="row">
        <div class="span9">
            <div class="order">
                Sort by:
                <a href="#" id="sort-forks" class="active" data-sort="data-forks">Forks</a> |
                <a href="#" id="sort-recent" data-sort="data-latest">Recent</a>
            </div>
            <div class="projects">
                {% for repository in repositories %}
                    <a href="{{ url_for('home.repo', slug=repository.id) }}" class="project-box">
                        <div class="project" data-org="{{ repository.organization.id }}"
                                             data-forks="{{ repository.forks }}"
                                             {% if repository.last_commit_date %}
                                                data-latest="{{ repository.last_commit_date.strftime('%Y%m%d%H%M') }}"
                                             {% endif %}>
                            <h5>{{ repository.name }}</h5>
                            <p>
                                {{ repository.description|string|truncate(70, false)|safe }}
                            </p>
                            <span>
                                View Commits
                            </span>
                            
                            <div class="info">
                                <i class="icon-user"></i> {{ repository.organization.username }}
                                <i class="icon-git-fork"></i> {{ repository.forks }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="span3">
            <h3>Filter by Agency</h3>
            <span class="filters">
                <a href="#" id="filter_show_all">Select all</a> | 
                <a href="#" id="filter_show_none">Clear</a>
            </span>
            <ul class="filter">
                {% for organization in organizations %}
                    <li>
                        <input type="checkbox" value="{{ organization.id }}" checked="checked" id="agency_{{ organization.id }}">
                        <label for="agency_{{ organization.id }}">
                            {{ organization.name }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}