<div class="col-md-9">
    <div class="card" ng-repeat="repo in repos | includefilter:search | orderBy:'-Forks' ">
        <h3>{{ repo.Name }}</h3>
        <p>
            {{ repo.Description | characters:60: false }}
        </p>
        <div class="info">
            <span> <i class="icon-git-fork"></i> {{ repo.Forks }}</span>

            <span class="author"><i class="icon-user"></i> {{ repo.OrganizationId }}</span>
        </div>
    </div>

</div>

<div class="col-md-3 side">
    <div class="filters">
        <h4>Filter by Organization</h4>
        <ul>
            <li ng-repeat="org in orgs | orderBy:'Login'">
                <input type="checkbox" ng-model="search.organizationId" name="filter_org[]"
                 ng-true-value="{{ org.Id }}" CHECKED /> {{ org.Name }} <span ng-show="!org.Name"> {{ org.Login }}</span>
            </li>
        </ul>
    </div>
</div>
