{% macro render_field(field) %}
    <div class="control-group {% if field.errors %} warning {% endif %}">
        <label class="control-label" for="input{{ field.id }}">{{ field.name | capitalize }}</label>
        <div class="controls">
            {{ field(**kwargs)|safe }}

            {% if field.errors %}
                <span class="help-inline">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}