<div class="col-md-12">
    <h3>
        About
    </h3>
    <p>
        Govcode is a website to feature Open source projects by the government.
      </p>
      <p>
        It is built as an open source project so please feel free to <a href="https://github.com/dlapiduz/govcode" target="_BLANK">contribute in Github</a>.
    </p>

    <h3>Feedback</h3>
    <h5>
      <b>We love feedback!</b> If you want to say how great this site is or tell us about an issue you had,
        please either <a href="https://github.com/dlapiduz/govcode/issues/new" target="_BLANK">create a ticket in github</a> 
      or use this contact form below:
    </h5>
    <div class="feedback_form">
      <div id="wufoo-m1k4fce0th7mg7">
        Fill out my <a href="https://lapiduz.wufoo.com/forms/m1k4fce0th7mg7">online form</a>.
      </div>
      <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
    </div>

    <script type="text/javascript">var m1k4fce0th7mg7;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'lapiduz',
    'formHash':'m1k4fce0th7mg7',
    'autoResize':true,
    'height':'517',
    'async':true,
    'host':'wufoo.com',
    'header':'hide',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { m1k4fce0th7mg7 = new WufooForm();m1k4fce0th7mg7.initialize(options);m1k4fce0th7mg7.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>

  </div>