<div class="col-md-8">
    <h3>
        Top Contributors
    </h3>

    <div class="find-box">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label for="contribSearch">Find</label>
          <input type="text" class="form-control" id="contribSearch" ng-model="query" ng-change="updateFilteredList()" placeholder="Enter term(s)">
        </div>
      </form>
    </div>

    <table at-table at-config="config" at-list="filteredUsers" at-paginated class="table">
      <thead></thead>
      <tbody>
        <tr>
          <td at-attribute="AvatarUrl" width="32" at-title=" ">
            <a href="https://github.com/{{ item.Login }}" title="{{ item.Login }} Github" target="_BLANK">
              <img src="{{ item.AvatarUrl }}" alt="{{ item.Login }} Avatar" width="32" />
            </a>
          </td>
          <td at-attribute="Login" width="200" at-title="Username">
            <a href="https://github.com/{{ item.Login }}" title="{{ item.Login }} Github" target="_BLANK">
              {{ item.Login }}
            </a>
          </td>
          <td at-attribute="CommitCount" at-sortable at-implicit at-initial-sorting="desc" width="50" at-title="Commits"></td>
          <td at-attribute="OrgList" at-implicit width="200" at-title="Organizations"></td>
        </tr>
      </tbody>
    </table>

    <at-pagination at-config="config" at-list="filteredUsers"></at-pagination>

</div>