<div class="col-md-12 home">

  <div class="banner">
    <h1>
        Contribute to the United States!
    </h1>

    <h3>
      We believe in a goverment for the hackers of the hacker and <b>by the hackers</b>.
    </h3>
  </div>
  <div class="row-fluid">


    <div class="stats col-md-6 col-md-offset-3">
      <div class="row-fluid">

        <div class="stat col-xs-4">
          <span>1998</span>
          <p>Contributors</p>
        </div>
        <div class="stat col-xs-4">
          <span>2008</span>
          <p>Projects</p>
        </div>
        <div class="stat col-xs-4">
          <span>34000</span>
          <p>Issues</p>
        </div>

      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="filters col-md-12">
      <jqcloud words="langs" width="500" height="350" steps="7"></jqcloud>
    </div>
  </div>

</div>