<div class="col-md-9">
    <div ng-repeat="repo in filtered = (repos | multifilter:search) | orderBy:sort" class="card">
        <div class="card-head">
            <span class="{{ mapLang(repo.Language) }}">&nbsp;</span>
            <h3><a ng-href="/repos/{{ repo.Name }}">{{ repo.Name }}</a></h3>
        </div>
        <p>
            {{ repo.Description | characters:60: false }}
            <span ng-show="!repo.Description">No Description</span>
        </p>
        <div class="info">
            <span> <i class="fa fa-code-fork"></i> {{ repo.Forks }}</span>
            <span> <i class="fa fa-star"></i> {{ repo.Stargazers }}</span>
            <span class="author"><i class="fa fa-user"></i> {{ repo.OrganizationLogin }}</span>
        </div>
    </div>

</div>

<div class="col-md-3 side">
    <div class="filters">

        <h3>Showing {{ filtered.length }} repositories</h3>

        <div class="filter">
            <h4>Order by</h4>
            <div class="filter_cont">
                <div class="sort">
                    <input type="radio" value="-Forks" name="sort" id="sort_forks" ng-model="sort">
                    <label for="sort_forks">Forks</label>
                </div>
                <div class="sort">
                    <input type="radio" value="-Watchers" name="sort" id="sort_watchers" ng-model="sort">
                    <label for="sort_watchers">Watchers</label>
                </div>
                <div class="sort">
                    <input type="radio" value="-Stargazers" name="sort" id="sort_stars" ng-model="sort">
                    <label for="sort_stars">Stars</label>
                </div>
                <div class="sort">
                    <input type="radio" value="-OpenIssues" name="sort" id="sort_issues" ng-model="sort">
                    <label for="sort_issues">Open Issues</label>
                </div>
            </div>
        </div>

        <div class="filter">
            <h4>Filter by last activity</h4>
            <div class="filter_cont">
                <span>
                    Active in the last <b>{{ search.lastActivity }} months<span ng-show="search.lastActivity >= 12"> or more</span></b>.
                </span>
                <input ng-model="search.lastActivity" type="range" min="1" max="12" value="6" />

            </div>
        </div>

        <div class="filter">
            <h4>Filter by Language</h4>
            <div class="filter_cont">
                <select ng-model="search.Language">
                    <option value="">All</option>
                    <option ng-repeat="l in languages | orderBy:'slug'" value="{{ l.name }}">{{ l.name }}</option>
                </select>
            </div>
        </div>

        <div class="filter">
            <h4>Filter by Organization</h4>
            <div class="filter_cont">
                <div class="sub_filters">
                    <input type="text" placeholder="Find Orgs" ng-model="filterOrgs" />
                    <a href="" ng-click="allOrgs(true)">All</a>
                    <a href="" ng-click="allOrgs(false)">None</a>
                </div>
                <ul>
                    <li ng-repeat="org in orgs | orderBy:'Login' | filter:filterOrgs ">
                        <input type="checkbox" ng-model="search.orgFilter[org.Id]" name="filter_org" CHECKED /> {{ org.Name }} <span ng-show="!org.Name"> {{ org.Login }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
