<div class="col-md-12 detail">
    <div class="back">
        <a ng-href="/"><i class="fa fa-arrow-circle-o-left"></i></a>
    </div>
    <h3>
        <a ng-href="https://github.com/{{ repo.Organization.Login }}/{{ repo.Name }}" target="_BLANK">
            {{ repo.Organization.Login }} / {{ repo.Name }}
        </a>
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <h4>Project Summary</h4>
            <p>
                {{ repo.Description }}.
            </p>
            <h5 class="language">
                <b>Main Language:</b> {{ repo.Language }}
            </h5>

            <h4>Open Issues</h4>
            <ul class="gh-issues">
                <li ng-repeat="issue in issues">
                    <a ng-href="{{ issue.html_url }}">
                        <i class="fa fa-exclamation-circle"></i>
                        {{ issue.title }}
                    </a>
                </li>
                <li ng-show="viewMoreActivities">
                    <a ng-href="https://github.com/{{ repo.Organization.Login }}/{{ repo.Name }}/issues" target="_BLANK">
                        View More
                    </a>
                </li>
            </ul>


            <h4>Latest Activity</h4>
            <ul class="gh-activity">
                <li ng-repeat="row in latest_activity">
                    <img src="{{ row.avatar }}" />
                    <span ng-bind-html="row.sentence" class="gh-sentence"></span>
                    <span am-time-ago="row.timestamp"></span>.
                </li>
                <li ng-show="viewMoreActivities">
                    <a ng-href="https://github.com/{{ repo.Organization.Login }}/{{ repo.Name }}/pulse" target="_BLANK">
                        View More
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="info">
                <h4>
                    <span>Stats</span>
                    <i class="fa fa-code-fork"></i> 
                    {{ repo.Forks }}
                    <i class="fa fa-users"></i> 
                    {{ repo.Watchers }}
                    <i class="fa fa-star"></i> 
                    {{ repo.Stargazers }}
                </h4>
            </div>

            <h5>Contributors</h5>
            <ul class="contributors">
                <li ng-repeat="contributor in contributors">
                    <a ng-href="{{ contributor.html_url }}" target="_BLANK">
                        <img src="{{ contributor.avatar_url }}" title="{{ contributor.login }} Avatar" width="36" />
                    </a>
                </li>
            </ul>

            <h5>Commit Activity</h5>
            <div width="100%">
                <cjs-line dataset="graphData" autofit="true" options="graphOptions"></cjs-line>
            </div>
        </div>
    </div>

</div>
