<div class="col-md-9">
    <div ng-repeat="repo in filtered = (repos | multifilter:search) | orderBy:'-Forks'" class="card {{ repo.Language | lowercase }}">
        <h3>{{ repo.Name }}</h3>
        <p>
            {{ repo.Description | characters:60: false }}
        </p>
        <div class="info">
            <span> <i class="icon-git-fork"></i> {{ repo.Forks }}</span>

            <span class="author"><i class="icon-user"></i> {{ repo.OrganizationLogin }}</span>
        </div>
    </div>

</div>

<div class="col-md-3 side">
    <div class="filters">
        <div class="filter">
            <h4>Filter by Language</h4>
            <div class="filter_cont">
                <select ng-model="search.Language" ng-options="l for l in languages| orderBy:'l'">
                    <option value="">All</option>
                </select>
            </div>
        </div>

        <div class="filter">
            <h4>Filter by Organization</h4>
            <div class="filter_cont">
                <ul>
                    <li ng-repeat="org in orgs | orderBy:'Login'">
                        <input type="checkbox" ng-model="search.orgFilter[org.Id]" name="filter_org" CHECKED /> {{ org.Name }} <span ng-show="!org.Name"> {{ org.Login }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
