$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    background: #fafafa;
    font-family: 'Lato';
    font-weight: 300;
}

.clear {
    height: 1px;
    clear: both;
}

.container-fluid {
    padding: 0;
}

h1 {
    font-size: 42px;
    float: left;
    padding: 0;
    margin: 0;
    line-height: 45px;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    color: #fff;
    font-weight: 300;
}

h2 {
    font-size: 20px;
    color: #DDD;
    padding: 0;
    float: left;
    font-weight: 300;
}

header {
    clear: both;
    width: 100%;
    padding: 40px 0 30px 10px;
    background: #454545;
    margin-bottom: 20px;

}

.card {
    width: 280px;
    float: left;
    padding: 0;
    margin: 10px;
    /*border-right: 1px solid #ccc;*/
    background: #fff;
    box-shadow: 0px 0px 3px 0px #BBB;
    height: 140px;
    overflow: hidden;
}

.card .card-head {
    background-color: #454545;
    margin: 0;
    height: 40px;
}

.card .card-head span {
    float: left;
    display: block;
    width: 20px;
    height: 40px;
}

.card .card-head span {
    font-size: 24px;
    line-height: 16px;
    background-color: rgb(0, 210, 180);
}

.card .card-head span.ruby {
    background-color: rgb(210, 0, 0);
}

.card .card-head span.c {
    background-color: rgb(199,205,43);
}

.card .card-head span.python {
    background-color: rgb(38,147,255);
}

.card .card-head span.javascript {
    background-color: rgb(195, 22, 195);
}

.card .card-head span.shell {
    background-color: rgb(255,122,77);
}

.card .card-head span.coffeescript {
    background-color: rgb(140,70,0);
}

.card h3 {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    padding: 12px;
    margin: 0;
    font-family: 'Lato';
}

.card p {
    padding: 17px 30px 15px 17px;
    margin:0;
    height: 72px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card div.info {
    padding: 0 17px 15px;
}

.card span {
    color: #999;
    margin-right: 10px;
}

.card span i {
    color: #f80;
}

.filters {
  padding: 0;
  margin: 10px;
  /*border-right: 1px solid #ccc;*/

  h3 {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
  }

  .filter {
    box-shadow: 0px 0px 3px 0px #BBB;
    background: #fff;
    margin-bottom: 20px;
    li {
      padding: 0;
      margin: 0;
    }
    .filter_cont {
      padding: 10px;
    }
  }

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background-color: #454545;
    margin: 0;
    padding: 12px;
    font-family: 'Lato';
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

nav {
    float: right;
    vertical-align: bottom;
    margin-right: 40px;
    margin-top: 25px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    margin: 0 5px;
}

nav ul li a, nav ul li a:visited {
    color: #fff;
    padding-bottom: 3px;
}

nav ul li a.current, nav ul li a:hover {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #fff;
}

.find-box {
    margin: 20px 0;
}