$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    background: #fafafa;
    font-family: 'Lato';
    font-weight: 300;
}

.clear {
    height: 1px;
    clear: both;
}

.container-fluid {
    padding: 0;
}

header h2 {
    font-size: 42px;
    float: left;
    padding: 0;
    margin: 0;
    line-height: 45px;
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    color: #fff;
    font-weight: 300;
    a, a:hover, a:active, a:visited {
        color: #fff;
        text-decoration: none;
    }
}

header h3 {
    font-size: 20px;
    color: #DDD;
    padding: 0;
    float: left;
    font-weight: 300;
    a, a:hover, a:active, a:visited {
        color: #fff;
        text-decoration: none;
    }
}

header {
    clear: both;
    width: 100%;
    padding: 40px 0 30px 10px;
    background: #333;
}

.card {
    width: 280px;
    float: left;
    padding: 0;
    margin: 10px;
    /*border-right: 1px solid #ccc;*/
    background: #fff;
    box-shadow: 0px 0px 3px 0px #BBB;
    height: 140px;
    overflow: hidden;
}

.card .card-head {
    background-color: #565656;
    margin: 0;
    height: 40px;
}

.card .card-head span {
    float: left;
    display: block;
    width: 10px;
    height: 40px;
}

.card .card-head span {
    font-size: 24px;
    line-height: 16px;
    background-color: #3EF2AD;
}

.card .card-head {
  span.ruby {
      background-color: #EA5172;
  }

  span.c {
      background-color: #501367;
  }

  span.python {
      background-color: #16E56D;
  }

  span.shell {
      background-color: #E49956;
  }

  span.javascript, span.coffeescript {
      background-color: #AD51DE;
  }

  span.java {
      background-color: #5160BB;
  }

  span.css {
      background-color: #07DAF5;
  }

  span.objective-c, span.swift {
      background-color: #E0E0E0;
  }

  span.php {
      background-color: #F14B8E;
  }

  span.go {
      background-color: #0887E5;
  }

  span.perl {
      background-color: #E49956;
  }

  span.matlab {
      background-color: #F5F416;
  }

  span.logos {
      background-color: #F04919;
  }

}


.card h3 {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    padding: 12px 5px;
    margin: 0;
    font-family: 'Lato';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        color: #fff;
    }
}

.card p {
    padding: 17px 30px 15px 17px;
    margin:0;
    height: 72px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card div.info {
    padding: 0 17px 15px;
}

.card span {
    color: #999;
    margin-right: 10px;
}

.card span i {
    color: #f80;
}

.side {
    background: #ddd;
    padding: 0;
    margin-top: 10px;

    .filters {
      padding: 0;
      /*border-right: 1px solid #ccc;*/

      h3 {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
        padding: 20px 25px;
        font-weight: 400;
      }

      select {
        width: 100%;
      }

      .filter {
        .filter_cont {
          padding: 15px 25px;
          .sort label {
            font-weight: 300;
          }
        }

        .sub_filters {
          margin-bottom: 10px;
          a {
            margin-left: 10px;
          }
        }
      }

      h4 {
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        background-color: #888;
        margin: 0;
        padding: 13px 25px;
        font-family: 'Lato';
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 20px;
      }
    }

}

nav {
    float: right;
    vertical-align: bottom;
    margin-right: 40px;
    margin-top: 25px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    margin: 0 5px;
}

nav ul li a, nav ul li a:visited {
    color: #fff;
    padding-bottom: 3px;
}

nav ul li a.current, nav ul li a:hover {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #fff;
}

.find-box {
    margin: 20px 0;
}

.detail {
    h3 {
        margin: 0;
        line-height: 30px;
    }
    div.back {
        float: left;
        font-size: 35px;
        margin-right: 20px;
        line-height: 35px;
    }
    .info {
        clear: both;
        margin-bottom: 20px;
        h4 {
          font-weight: 300;
          span {
            font-weight: 400;
          }
        }
        i {
            margin-left: 20px;
            font-size: 16px;
            color: #f80;
            padding-right: 5px;
        }
    }
    .gh-activity, .gh-issues {
        list-style: none;
        margin: 0;
        padding: 0;
        img {
            width: 36px;
            height: 36px;
        }
        li {
            margin-bottom: 10px;
        }
        span.gh-sentence {
        }
    }
    h5.language {
      font-weight: 300;
      margin-bottom: 30px;
      b {
        font-weight: 400;
      }
    }
    ul.contributors {
      list-style: none;
      padding: 0;
      line-height: 40px;
      li {
        display: inline;
        margin-right: 3px;
        margin-bottom: 3px;
        img {
          box-shadow: 0px 0px 3px 0px #999;
        }
      }
    }
}

.feedback_form {
  width: 450px;

  .wufoo .info{display:none}

}

.footer {
  text-align: center;
  padding: 60px 0;
}

.home {
  text-align: center;
  padding: 0;
  margin: 0;

  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 45px;
  }

  h3 {
    font-weight: 300;
  }

  .banner {
    background-color: #428BCA;
    padding: 60px;
    color: #fff;
  }
  .stats {
    margin-top: 40px;
    .stat {
      span {
        color: #428BCA;
        font-size: 50px;
      }
    }
  }
  .filters {
    -webkit-box-shadow:inset 0 0 5px 0 #CCC;
    box-shadow:inset 0 0 5px 0 #CCC;
    min-height: 50px;
    margin-top: 50px;
  }
}